<nav class="h-20 bg-blue-200 flex items-center justify-center gap-10 text-xl">

    <% if(user){%>
         <a class="hover:border-b-2 border-black" href="/main">Gmail.com</a>
         <a class="hover:border-b-2 border-black" href="/logout">Log Out</a>
     <%}else{%>

         <a class="hover:border-b-2 border-black" href="/">home</a>
         <a class="hover:border-b-2 border-black" href="/login">Login</a>
         <a class="hover:border-b-2 border-black" href="/register">register</a>
    <%}%>
</nav>