<nav class="h-20 bg-blue-200 flex items-center justify-center gap-10 text-xl">
    <a class="hover:border-b-2 border-black" href="/">home</a>
    <a class="hover:border-b-2 border-black" href="/login">Login</a>
    <a class="hover:border-b-2 border-black" href="/register">register</a>
    <a class="hover:border-b-2 border-black" href="/main">Gmail.com</a>
    <a class="hover:border-b-2 border-black" href="/logout/<%= user._id%>">Log Out</a>
</nav>