<%-include("./partials/header")%>
<%-include("./partials/nav")%>
<div class="w-[100vw] flex flex-col items-center justify-center">
  <div class="w-[100%] px-10 flex flex-col items-center mt-20">
    <div class="flex item-cenyter justify-center mt-10">
      <h1 class="text-5xl">Wellcome to home</h1>
    </div>
    <div class="w-[50%] px-10 mt-10 text-center m-auto">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eligendi aut officia, omnis blanditiis, eum doloremque earum voluptatem aperiam illo delectus a necessitatibus saepe! At asperiores eum accusantium sint eius.</p>
    </div>
    <div class="w-[10%]">
      <button class="flex items-center justify-center mt-10 bg-blue-800 rounded hover:bg-blue-700 px-3 py-2 text-white"><a href="/login">Log in</a></button>
    </div>
  </div>
</div>
<%-include("./partials/footer")%>