<%-include("./partials/header")%>
  <form action="/" method="post">
    <input type="email" name="email" placeholder="entre mail id">
    <button>send</button>
  </form>
<%-include("./partials/footer")%>