<%-include("./partials/header")%>
<%-include("./partials/nav")%>

<h1>Register Now</h1>

<form action="/login" method="post">
    <input type="email" placeholder="Email/Username Address" name="email">
    <input type="password" placeholder="Password" name="password1">

    <button>login</button>
</form>
<%-include("./partials/footer")%>